%h1
  Addresses
= render partial: 'nav'
.row
  .col-sm-6
    .panel.panel-primary.address-panel
      .panel-heading
        .btn.btn-warning.btn-default.pull-right Use billing address
        %h4 Shipping address
      .panel-body
        = render partial: 'address_form', locals: { address: @shipping_address}
