!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Ss
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = yield
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}